
a.hover {
  display: inline-block;
  transition: transform 0.5s ease;
  text-decoration: none; /* remove underline */
  background-color: rgb(39, 85, 53); /* set background color */
  color: rgb(0, 0, 0); /* set text color */
}

a.hover:hover {
  transform: translateX(5px); /* move right */
}
.grid-item {
  padding: 4px;
  border: 0px solid #000000;
  background-color: rgb(39, 85, 53);

}
#grid-container{
    position: fixed;
    left: -200px;
    top: 0;
    width: 200px;
    height: 100vh;
    background-color: rgb(39, 85, 53);
    transition: left 0.3s ease;
    z-index: 100;
    overflow-y: auto;
    padding-top: 40px;
}
#grid-container.visible{
    left: 0;
}   
#grid-toggle {
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 101;
    padding: 10px 81px;
    background-color: rgb(39, 85, 53);
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    border-radius: 4px;
    text-decoration: none; 
}
#startknop {
    padding-left: 0px;
    top: 0px;
    padding: 10px 81px;
    background-color: rgb(39, 85, 53);
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    border-radius: 4px;
    text-decoration: none; 
    position: fixed;
}
.link {
    text-decoration: none;
    color: black;
    background-color: rgb(55, 125, 57);
    padding: 0px;
}
.side-menu {
  position: fixed;
  left: -100px;  /* hidden off-screen */
  top: 0;
  width: 100px;
  height: 100vh;
  background-color: #333;
  transition: left 0.3s ease;
  z-index: 100;
}

.side-menu.open {
  left: 0;  /* slides in */
}
body{
  background-color: rgb(55, 125, 57);
}
.menu-item {
  left: 10;
  padding-top: 10px;
  padding-bottom: 0px;  
}
.menu-item1 {
  left: 10;
  padding: 10px;
  padding-top: 20px;
}
.side-menu2 {
  position: fixed;
  left: 0px;  
  top: 0;
  width: 180px;
  height: 100vh;
  background-color:  rgb(39, 85, 53);
  transition: left 0.3s ease;
  z-index: 100;
}
#dier-afbeelding {
  float: right;
  margin-left: 20px;
   position: fixed;
    top: 0;
    right: 0;
}
p {
    max-width: 600px; /* Tekst stopt op 600px breed */
}
kaart{
  position: fixed;
  left: 50%;
}