{% extends "layout.html" %}
{% block content %}


<div class="dieren-grid">
  {% for categorie in ["Katachtigen", "Mensapen", "Aquariumdieren", "Vogels", "Zeedieren", "Beren","Kleine_Roofdieren", "Reptielen", "Hoefdieren"] %}
  <div class="categorie-card">
    <h3>{{ categorie }}</h3>
    <ul>
      {% for dier in dieren %}
        {% if dier.categorie == categorie %}
          <li><a class="link" href="/dier/{{ dier.naam }}">{{ dier.naam }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
  {% endfor %}
</div>

{% endblock %}