{% extends "layout.html" %}
{% block content %}
<div class="home-container">
    <h1>Welkom bij de ZOO van Antwerpen!</h1>
    <p>Ontdek de fascinerende wereld van dieren en natuur in onze prachtige dierentuin. Van majestueuze leeuwen tot kleurrijke vogels, er is voor ieder wat wils!</p>
    Socials:<ul>
    <li><a href="https://www.instagram.com/zooantwerpen/" class="social-link insta-link">Volg ons op Instagram</a></li>
    <li><a href="https://www.facebook.com/zooantwerpen/" class="social-link facebook-link">Volg ons op Facebook</a></li>
    </ul>
{% endblock %}