<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>ZOO van Antwerpen</title>
</head>
<body>
    <nav class="navbar">
        <div class="nav-container">
            <h2 class="nav-title">ZOO</h2>
            <div class="nav-links">
                <a href="/">Home</a>
                <a href="/Dieren">Dieren</a>
                <a href="/Kaart">Kaart</a>
                <a href="/reviews">Reviews</a>
                {% if session.get('username') == 'Noah.M' %}
                    <a href="/admin" class="nav-admin">Admin</a>
                {% endif %}
                {% if session.get('username') %}
                    <span class="user-welcome">Welkom, {{ session['username'] }}!</span>
                    <a href="/logout" class="nav-logout">Logout</a>
                {% else %}
                    <a href="/login">Login</a>
                    <a href="/register">Register</a>
                {% endif %}

            </div>
        </div>
    </nav>
    
    {% block content %}
    {% endblock %}
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
</body>
</html>